/* @font-face {
    font-family: "oswald";
    src: url("/assets/fonts/Oswald-VariableFont_wght.ttf");
} */

/* .oswald-bold {
    font-family: "oswald";
    font-weight: 800;
}

@font-face {
    font-family: "a25";
    src: url("/assets/fonts/A25-SQUANOVA.ttf");
} */


/* .a25-bold {
    font-family: "a25";
    font-weight: 800;
    line-height: 103px;
}
    

@font-face {
    font-family: "Arial";
    src: url('/assets/fonts/arial.ttf');
} */

/* .Arial {
    font-family: "Arial";
    font-weight: 500;
    line-height: 103px;
}

@font-face {
    font-family: "albertSans";
    src: url("/assets/fonts/AlbertSans-VariableFont_wght.ttf");
} */

.albertSans {
    font-family: "albertSans";
}

body {
    background: #1c1a32;
    margin: 0px;
}

p {
    font-size: 20px;
    font-family: "albertSans";
    line-height: 32px;
    font-weight: 500;
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .game-development {
        background-image: url("/assets/images/game-portfolio/expert_game.webp") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .thunder-img1 {
        height: 150px !important;
        width: auto;
    }

    .game-development-outer {
        padding-top: 200px !important;
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .top-banner img {
        width: 100%;
        height: auto;
        display: block;
    }

    .top-banner-mobile img {
        width: 100%;
        height: auto;
        display: none;
    }

    .a25-bold {
        font-family: "a25";
        font-weight: 800;
        line-height: 64px !important;
    }

    .premier-text {
        text-align: center;
        font-size: 45px !important;
        color: white;
        text-transform: uppercase;
        padding-top: 40px !important;
    }

    p {
        font-size: 14px !important;
        font-family: "albertSans";
        line-height: 24px !important;
    }

    .premier-content {
        max-width: 70% !important;
    }

    .thunder-img1 {
        height: 150px !important;
        width: auto;
    }

    .expert-img {
        height: 200px !important;
        width: auto;
    }

    .expert-text {
        font-size: 24px !important;
        text-transform: uppercase;
    }

    .text-large {
        font-size: 44px !important;
    }

    .game-development-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px !important;
        padding-left: 80px !important;
        padding-right: 80px !important;
        padding-bottom: 60px !important;
    }

    .btn-bg {
        height: 70px !important;
        width: 300px !important;
        margin-top: 0px !important;
        font-size: 14px !important;
    }

    .expert-text {
        font-family: "a25";
        font-weight: 800;
        line-height: 40px !important;
    }

    .end-to-end-title {
        font-size: 44px !important;
        font-family: "a25";
        color: white;
        padding-top: 20px !important;
        text-align: center !important;
    }

    .game-card-outer {
        width: 250px !important;
    }

    .endtoend-bg {
        align-items: center !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
        position: relative;
        padding-top: 40px !important;
        /* padding-bottom: 800px; */
        height: 80rem !important;
    }

    .game-cards {
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding-top: 50px !important;
    }

    .mobile-game-content {
        font-size: 14px !important;
        line-height: 20px !important;
        padding-top: 8px !important;
    }

    .mobile-game-title {
        font-size: 24px !important;
        line-height: 32px !important;
    }

    .right-thunder {
        height: 200px !important;
        width: auto;
    }

    .video-game-mobile {
        display: none !important;
    }

    .video-game-title {
        font-size: 50px !important;
        line-height: 60px !important;
        color: #ffffff;
        font-family: "a25";
        text-align: center;
    }

    .video-game-description {
        font-size: 14px !important;
        padding-top: 18px !important;
    }

    .video-game-boy {
        height: 300px !important;
        width: auto;
    }

    .video-game-card {
        width: 610px !important;
        gap: 30px !important;
        height: 400px !important;
    }

    .concept-text {
        margin-left: 30px !important;
    }

    .video-img1 {
        height: 400px !important;
        width: 610px !important;
    }

    .modeling-text {
        margin-right: 30px !important;
    }

    .concept-title {
        font-size: 32px !important;
        line-height: 40px !important;
    }

    .video-game-inner-card {
        background-color: #190c26;
        border: 3px solid #701f71;
        border-bottom-right-radius: 40px;
        padding: 20px !important;
        width: 200px !important;
    }

    .video-card-title {
        font-size: 18px !important;
        line-height: 24px !important;
        height: 44px !important;
    }

    .video-card-content {
        padding-top: 20px !important;
    }

    .dragon-img {
        height: 200px !important;
        width: auto;
    }

    .blockchain-integration-inner {
        max-width: 610px !important;
    }

    .integration-card {
        margin-left: 0px !important;
        display: flex;
        gap: 50px;
        margin-top: 0px !important;
        padding: 30px !important;
    }

    .recent-launch-title {
        font-size: 50px !important;
        line-height: 50px !important;
        color: #ffffff;
        font-family: "a25";
        text-align: center;
        margin-top: 20px !important;
    }

    .right-thunder {
        height: 150px !important;
        width: auto;
    }

    .right-thunder1-section {
        position: absolute;
        bottom: 40px !important;
        right: 0;
    }

    .recent-game-card {
        width: 610px !important;
        border-radius: 30px !important;
        margin-top: 40px !important;
        padding: 30px !important;
        gap: 30px !important;
    }

    .recent-game-img1 {
        width: 200px !important;
        height: 250px !important;
    }

    .recent-game-img2 {
        width: auto;
        height: 50px !important;
    }

    .recent-game-inner {
        position: relative;
        height: 270px !important;
    }

    .recent-game-title {
        font-size: 40px !important;
        line-height: 50px !important;
        color: #21cef4;
        font-family: "a25" !important;
    }

    .recent-game-content {
        font-size: 16px !important;
        line-height: 24px !important;
        padding-top: 12px !important;
    }

    .recent-icon-size {
        height: 40px !important;
        width: auto;
    }

    .recent-icon {
        display: flex;
        gap: 20px !important;
        padding-top: 20px !important;
    }

    .medium-btn-bg {
        background-image: url('/assets/images/game-portfolio/button.webp');
        font-size: 16px !important;
        font-family: "oswald" !important;
        height: 50px !important;
        width: 200px !important;
        margin-top: 20px !important;
    }

    .game-development-card {
        width: 200px !important;
        height: 260px !important;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .game-development-data-card {
        position: absolute;
        width: 173px !important;
        height: 260px !important;
        border-top-right-radius: 40px !important;
        border-bottom-right-radius: 40px !important;
        background-color: #ffffff;
        border: 3px solid #4b515b;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .game-development-number {
        font-size: 70px !important;
        line-height: 80px;
        text-transform: uppercase;
        color: #e2cdff;
        font-weight: bold;
        font-family: "Arial";
    }

    .game-development-data-title {
        font-size: 16px !important;
        line-height: 20px !important;
    }

    .game-development-data-content {
        font-size: 10px !important;
        line-height: 16px !important;
        padding-top: 6px !important;
    }

    .game-development-card-row {
        display: flex;
        flex-direction: row;
        gap: 20px !important;
        padding-top: 30px !important;
    }

    .man-img1 {
        height: 500px !important;
        width: auto;
    }

    .game-square-img {
        height: 100px !important;
        width: auto;
    }

    .game-development-row {
        margin-left: 50px !important;
        gap: 20px !important;
    }

    .game-card-title {
        font-size: 14px !important;
        line-height: 12px !important;
    }

    .game-card-text {
        font-size: 12px !important;
        line-height: 17px !important;
        color: #1c1a32;
        font-weight: 600;
        font-family: "albertSans";
        padding-top: 8px !important;
    }

    .game-content-card {
        border-radius: 20px !important;
        min-height: 100px !important;
        background-color: #f4edff;
        padding: 16px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .game-layer,
    .game-layer-2 {
        position: relative;
        height: 900px !important;
    }

    .game-development-row-right {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
        width: 60%;
        align-items: center;
        margin-top: 30px;
        margin-right: 50px !important;
    }

    .game-right-cards {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-top: 0px !important;
        padding-bottom: 80px;
    }

    .feature-title {
        font-size: 42px !important;
        padding-top: 60px !important;
    }

    .line-section {
        width: 600px !important;
        margin-top: 40px;
    }

    .first-line {
        width: 500px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        font-size: 16px !important;
    }

    .last-line {
        width: 550px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        font-size: 16px !important;
    }

    .curve-right-line {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        font-size: 16px !important;
        padding-right: 20px;
    }

    .curve-left-line {
        padding-top: 12px !important;
        padding-bottom: 16px !important;
        font-size: 16px !important;
    }

    .unique-features {
        padding-bottom: 70px !important;
    }

    .immersive-description {
        font-size: 14px !important;
        line-height: 20px !important;
        padding-top: 10px !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .immersive-game-row {
        gap: 30px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        padding-top: 40px !important;
    }

    .immersive-game-card {
        position: relative;
        height: 270px !important;
    }

    .game-card-image1 {
        height: 230px !important;
        width: 200px !important;
    }

    .game-card-small-img {
        height: 90px !important;
        width: 90px !important;
    }

    .immersive-purple-bg {
        height: 650px !important;
        width: auto;
    }

    .immersive-boy {
        position: absolute;
        bottom: 60px !important;
        right: 12px !important;
        height: 350px !important;
        width: auto;
    }

    .small-btn-bg {
        color: white;
        font-size: 12px !important;
        font-family: "oswald" !important;
        height: 40px !important;
        width: 160px !important;
        margin-top: 20px !important;
    }

    .immersive-gaming-section {
        padding-top: 60px !important;
        padding-bottom: 220px !important;
        position: relative;
    }

    .immersive-purple-section {
        position: absolute;
        bottom: 170px !important;
        right: 0;
    }
    .choose-us-section {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column !important;
        gap: 40px !important;
    }
    .choose-us-left {
        width: 100% !important;
    }
    .chooseus-card-inner {
        padding: 16px !important;
        border-radius: 20px !important;
        background-image: linear-gradient(to right, #190c26, #190c26) !important;
    }

    .chooseus-card-outer {
        margin-top: 16px !important;
        padding: 2px !important;
        border-radius: 20px !important;
        background-image: linear-gradient(to right, #701f71, #701f71) !important;
    }
    .choose-us-title,.choose-us-card-title ,.choose-us-card-content  {
        text-align: center !important;
    }

}

@media screen and (min-width:1024px) {
    .top-banner img {
        width: 100%;
        height: auto;
        display: block;
    }

    .video-game-mobile {
        display: none !important;
    }

    .top-banner-mobile img {
        width: 100%;
        height: auto;
        display: none;
    }
}

@media screen and (max-width:767px) {
    .top-banner-mobile img {
        width: 100%;
        height: auto;
        display: block;
        margin-top: 32px;
    }

    .top-banner img {
        width: 100%;
        height: auto;
        display: none;
    }

    .premier-text {
        text-align: center;
        font-size: 25px !important;
        color: white;
        text-transform: uppercase;
        padding-top: 20px !important;
        font-family: 'a25';
        line-height: 32px !important;
    }

    .premier-content {
        color: white;
        max-width: 100% !important;
        text-align: center;
        padding-top: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }

    p {
        font-size: 13px !important;
        font-family: "albertSans";
        line-height: 25px !important;
    }

    .thunder-img1 {
        height: 100px !important;
        width: auto;
    }

    .game-development-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 30px !important;
    }

    .game-development-inner {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        gap: 20px !important;
    }

    .expert-text {
        font-size: 22px !important;
        line-height: 29px !important;
        text-align: center !important;

    }

    .expert-img {
        height: 200px !important;
        width: auto;
    }

    .text-large {
        font-size: 46px !important;
    }

    .a25-bold {
        line-height: 24px !important;
    }

    .btn-bg {
        background-size: 100% 100% !important;
        font-size: 14px !important;
        font-family: "oswald" !important;
        height: 50px !important;
        width: 200px !important;
        margin-top: 0px !important;
    }

    p {
        margin-top: 0;
        margin-bottom: 0rem !important;
    }

    .game-development-outer {
        padding-top: 30px !important;
    }

    .video-game-art {
        padding: 20px !important;
        background-size: 100% !important;
    }

    .video-game-title {
        font-size: 25px !important;
        line-height: 28px !important;
        padding-top: 12px;
    }

    .video-game-description {
        font-size: 13px !important;
        line-height: 21px !important;
        padding-top: 12px !important;
    }


    .video-game-card {
        height: 300px;
        width: 100% !important;
    }

    .concept-title {
        font-size: 16px !important;
        line-height: 24px !important;
    }

    .concept-text,
    .modeling-text {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .video-game-boy {
        height: auto !important;
        width: 280px !important;
    }

    .game-development {
        background-image: url("/assets/images/game-portfolio/expert-mobile-game.webp") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .video-game-card {
        position: absolute;
        z-index: 1;
        height: 300px !important;
        width: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px !important;
        width: 300px !important;
    }

    .video-img1 {
        height: 300px !important;
        width: 300px !important;
    }

    .concept-description {
        font-size: 13px !important;
        line-height: 21px !important;
        text-align: center !important;
        padding-top: 16px !important;
    }

    .endtoend-bg {
        background-image: url("/assets/images/game-portfolio/end-to-end-mobile-bg.webp") !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
        padding-top: 30px !important;
        height: 90rem !important;
        align-items: center !important;
    }

    .end-to-end-title {
        font-size: 18px !important;
        line-height: 28px !important;
        text-align: center !important;
        padding-top: 20px !important;
    }

    .game-cards {
        display: flex;
        flex-direction: column !important;
        gap: 60px !important;
        padding-bottom: 30px !important;
        padding-top: 30px !important;
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    .game-card-outer {
        background-image: linear-gradient(to bottom, #190c26 50%, transparent);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 20px;
        padding-bottom: 50px;
        position: relative;
        width: 100% !important;
    }

    .mobile-game-title {
        font-size: 13px !important;
        line-height: 16px !important;
    }

    .mobile-game-content {
        font-size: 9px !important;
        line-height: 12px !important;
    }

    .game-bottom-img {
        height: 80px !important;
        width: 80px !important;
    }

    .right-thunder {
        height: 120px !important;
        width: auto;
    }

    .game-card-outer-1 {
        max-width: 300px !important;
    }

    .video-game-mobile {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .video-game-web {
        display: none !important;
    }

    .video-game-section,
    .UI-UX-section {
        margin-top: 0px !important;
    }

    .concept-title {
        font-size: 25px !important;
        line-height: 28px !important;
        text-align: center !important;
    }

    .video-game-row {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        gap: 30px !important;
        width: 100%;
        padding-bottom: 30px !important;
    }

    .video-card-title {
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .video-card-content {
        font-size: 15px !important;
        line-height: 24px !important;
        padding-top: 24px !important;
    }

    .modeling-section {
        background: none !important;
        background-repeat: no-repeat;
        background-size: 100%;
        padding-left: 80px;
        padding-right: 80px;
    }

    .full-width {
        width: 300px !important;
        display: flex;
        align-items: center;
        flex-direction: column !important;
        gap: 20px !important;
    }

    .vfx-section {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 30px !important;
    }

    .integration-card {
        margin-left: 0px !important;
        display: flex;
        flex-direction: column !important;
        gap: 30px !important;
        margin-top: 0px !important;
        padding: 20px !important;
    }

    .metaverse-card {
        margin-left: 0px !important;
        display: flex;
        flex-direction: column-reverse !important;
        gap: 30px !important;
        margin-top: 0px !important;
        padding: 20px !important;
    }

    .dragon-img {
        height: auto !important;
        width: 150px !important;
    }

    .blockchain-integration-outer {
        background-image: url('/assets/images/game-portfolio/white-bg-mobile.png') !important;
        padding-top: 30px !important;
        padding-bottom: 40px !important;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px !important;
    }

    .blockchain-integration-inner {
        max-width: 300px !important;
    }

    .recent-launch-title {
        font-size: 23px !important;
        line-height: 25px !important;
    }

    .recent-launch-section {
        padding-bottom: 40px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
        background-image: url('/assets/images/game-portfolio/our-recent-launches-mobile.webp') !important;
    }

    .right-thunder1-section {
        position: absolute;
        bottom: 50px !important;
        right: 0;
    }

    .recent-game-card {
        width: 100% !important;
        border-radius: 20px !important;
        background-color: rgba(25, 12, 38, 0.9);
        flex-direction: column !important;
        padding: 20px !important;
        gap: 30px !important;
        width: 300px !important;
        margin-top: 130px !important;
    }

    .recent-game-img1 {
        width: 280px !important;
        height: 300px !important;
    }

    .recent-game-inner {
        position: relative;
        height: 330px !important;
        margin-top: -120px !important;
    }

    .recent-game-img2 {
        width: auto;
        height: 70px !important;
    }

    .recent-game-title {
        font-size: 25px !important;
        line-height: 25px !important;
        font-family: "a25" !important;
        text-align: center !important;
    }

    .recent-game-content {
        font-size: 13px !important;
        line-height: 21px !important;
        text-align: center !important;
        padding-top: 12px;
    }

    .recent-icon-size {
        height: 30px !important;
        width: auto;
    }

    .recent-icon {
        display: flex;
        justify-content: center !important;
        gap: 14px !important;
        padding-top: 16px !important;
    }

    .medium-btn-bg {
        background-image: url('/assets/images/game-portfolio/button.webp');
        font-size: 12px !important;
        font-family: "oswald" !important;
        height: 32px !important;
        width: 160px !important;
        margin-top: 16px !important;
    }

    .recent-game-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comprehensive-title {
        font-size: 22px !important;
        line-height: 30px !important;
        color: #1c1a32;
        font-family: "a25";
        text-align: center;
        font-weight: 700;
        padding-top: 0px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .comprehensive-game {
        position: relative;
        background: white;
    }

    .comprehensive-description {
        font-size: 12px !important;
        line-height: 17px !important;
        padding-top: 8px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .man-img1 {
        height: auto !important;
        width: 300px !important;
    }

    .game-development-row {
        display: flex;
        flex-direction: row;
        gap: 20px !important;
        width: 100% !important;
        align-items: center;
        margin-top: 30px !important;
        margin-left: 0px !important;
    }

    .game-square-img {
        height: 78px !important;
        width: auto;
    }

    .game-card-title {
        font-size: 15px !important;
        line-height: 15px !important;
    }

    .game-content-card {
        border-radius: 15px !important;
        /* max-width: 600px; */
        min-height: 70px !important;
        background-color: #f4edff;
        padding: 12px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .game-card-text {
        font-size: 12px !important;
        line-height: 17px !important;
        padding-top: 8px !important;
    }

    .game-outer-layer,
    .game-outer-layer-2 {
        width: 100%;
        position: initial !important;
        top: 0;
        padding: 16px !important;
    }

    .game-layer,
    .game-layer-2 {
        position: relative;
        height: auto !important;
    }

    .game-development-row-right {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px !important;
        width: 100% !important;
        align-items: center;
        margin-top: 20px !important;
        margin-right: 0px !important;
    }

    .game-develoment-title {
        font-size: 25px !important;
        line-height: 33px !important;
        padding-top: 0px !important;
    }

    .game-develoment-section {
        background-color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .game-development-card-row {
        display: flex;
        flex-direction: column !important;
        gap: 40px !important;
        max-width: 300px !important;
        padding-top: 30px !important;
    }

    .game-right-cards {
        padding-bottom: 40px !important;
    }

    .feature-title {
        font-size: 19px !important;
        line-height: 26px !important;
        padding-top: 40px !important;
    }

    .first-line {
        width: 250px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        border-top-left-radius: 29px;
        border-bottom-left-radius: 29px;
        background-image: linear-gradient(to right, #190c26 70%, transparent);
        border-top: 3px solid #701f71;
        border-bottom: 3px solid #701f71;
        border-left: 3px solid #701f71;
        font-size: 10px !important;
        color: #ffffff;
        font-weight: 500;
        font-family: "albertSans";
        padding-left: 16px !important;
        position: relative;
    }

    .line-section {
        width: 300px !important;
        margin-top: 30px;
    }

    .curve-right-line {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        font-size: 10px !important;
        padding-right: 16px !important;
    }

    .curve-left-line {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        font-size: 10px !important;
        padding-left: 16px !important;
    }

    .last-line {
        margin-top: -3px;
        width: 250px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        font-size: 10px !important;
        padding-left: 16px !important;
    }

    .unique-features {
        padding-bottom: 50px !important;
    }

    .immersive-title {
        font-size: 21px !important;
        line-height: 24px !important;
    }

    .immersive-description {
        font-size: 12px !important;
        line-height: 17px !important;
        padding-top: 8px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .immersive-gaming-section {
        padding-top: 40px !important;
        background-image: url('/assets/images/game-portfolio/Immersive-Gaming-mobile.webp') !important;
        padding-bottom: 70px !important;

    }

    .immersive-game-row {
        display: flex;
        flex-direction: column !important;
        gap: 40px !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-top: 30px !important;
    }

    .immersive-card-layout {
        width: 100% !important;
        z-index: 1;
    }

    .immersive-game-card {
        position: relative;
        height: 350px;
        width: 300px !important;
    }

    .purple-outer {
        display: none !important;
    }

    .thunder-3 {
        height: 44px !important;
        width: auto;
        position: absolute;
        right: 0;
    }

    .choose-us-section {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        flex-direction: column !important;
        gap: 20px !important;
    }

    .choose-us-title {
        font-size: 39px !important;
        line-height: 49px !important;
        text-align: center !important;
    }

    .choose-us-left {
        width: 100% !important;
    }

    .choose-us-card-title {
        text-align: center !important;
    }

    .chooseus-card-inner {
        padding: 16px !important;
        border-radius: 20px !important;
        background-image: linear-gradient(to right, #190c26, #190c26) !important;
    }

    .chooseus-card-outer {
        margin-top: 16px !important;
        padding: 2px !important;
        border-radius: 20px !important;
        background-image: linear-gradient(to right, #701f71, #701f71) !important;
    }

    .choose-us-card-content {
        font-size: 12px !important;
        line-height: 16px !important;
        padding-top: 8px !important;
        text-align: center !important;
    }
    .choose-girl-img {
        height: auto;
        width: 200px !important;
    }
}

.video-game-web {
    display: block;
}

.premier-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.premier-text {
    text-align: center;
    font-size: 90px;
    line-height: 110px;
    color: white;
    text-transform: uppercase;
    padding-top: 100px;
    font-family: 'a25';
}

.premier-content {
    color: white;
    max-width: 60%;
    text-align: center;
    padding-top: 8px;
}

.game-text {
    background: linear-gradient(to right, #eb0b7c, #14dbfc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
    .game-development {
        background-image: url("/assets/images/game-portfolio/expert_game.webp") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .thunder-img1 {
        height: 150px !important;
        width: auto;
    }

    .game-development-outer {
        padding-top: 200px !important;
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}

.game-development {
    /* background-color: white; */
    background-image: url("/assets/images/game-portfolio/expert-game-bg.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.thunder-img1 {
    height: 400px;
    width: auto;
}

.game-development-inner {
    display: flex;
    align-items: center;
    gap: 40px;
}



.text-large {
    font-size: 103px;
}

.expert-img {
    height: 400px;
    width: auto;
}

.expert-text {
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'a25';
    font-weight: 700;
}

@media screen and (min-width: 1024px) and (max-width:1440px) {
    .premier-text {
        text-align: center;
        font-size: 65px;
        color: white;
        text-transform: uppercase;
        padding-top: 64px;
    }

    .a25-bold {
        font-family: "a25";
        font-weight: 800;
        line-height: 81px;
    }

    .premier-content {
        color: white;
        max-width: 80%;
        text-align: center;
        padding-top: 0px;
    }

    .expert-text {
        font-size: 40px;
        text-transform: uppercase;
    }

    .text-large {
        font-size: 80px;
    }

    .expert-img {
        height: 300px;
        width: auto;
    }

    p {
        font-size: 20px;
        font-family: "albertSans";
        line-height: 36px;
    }

    .game-development {
        /* background-color: white; */
        /* background-image: url("/assets/images/game-portfolio/expert-game-bg2.webp") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    }

    .endtoend-bg {
        padding-right: 60px !important;
        padding-left: 60px !important;
        padding-top: 0px !important;
    }

    .game-card-outer {
        background-image: linear-gradient(to bottom, #190c26 50%, transparent);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 20px;
        padding-bottom: 24px !important;
        position: relative;
        width: 320px !important;
    }

    .game-cards {
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding-top: 70px !important;
    }

    .recent-launch-title {
        font-size: 62px !important;
        line-height: 91px;
        color: #ffffff;
        font-family: "a25";
        text-align: center;
    }

    .recent-game-card {
        width: 820px !important;
    }
}

.game-development-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 80px;
}

.expert-content {
    text-align: center;
}

.btn-bg {
    background-image: url("/assets/images/game-portfolio/button.webp");
    background-size: 100% 100%;
    color: white;
    font-size: 35px;
    font-family: "oswald" !important;
    font-weight: 700;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}

.medium-btn-bg {
    background-image: url("/assets/images/game-portfolio/button.webp");
    color: white;
    font-size: 24px;
    font-family: "oswald" !important;
    font-weight: 700;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
    object-fit: contain;
    background-size: 100% 100%;
}

.small-btn-bg {
    background-image: url("/assets/images/game-portfolio/button.webp");
    color: white;
    font-size: 14px;
    font-family: "oswald" !important;
    font-weight: 700;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
    object-fit: contain;
    background-size: 100% 100%;
}

.endtoend-bg {
    background-image: url("/assets/images/game-portfolio/section04_bg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 120px;
    padding-left: 120px;
    position: relative;
    padding-top: 100px;
    /* padding-bottom: 800px; */
    height: 112rem;
}

@media screen and (min-width:1500px) {

    .endtoend-bg {
        height: 120rem !important;
    }
}

.end-to-end-title {
    font-size: 62px;
    font-family: "a25";
    color: white;
    padding-top: 100px;
    text-align: end;
}

.game-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 120px;
}

.game-card-outer-1 {
    background-image: linear-gradient(to bottom, #701f71, transparent);
    padding: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.game-card-outer {
    background-image: linear-gradient(to bottom, #190c26 50%, transparent);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    padding-bottom: 50px;
    position: relative;
    width: 400px;
}

.card-blue-bg {
    background-image: linear-gradient(to bottom, #b27eff, transparent);
    /* background-image: linear-gradient(0deg, #1f113f 0%, #37155d 72%, #6844a4 80%, #b27eff 100%) !important; */
}

.mobile-game-title {
    font-size: 31px;
    font-family: "oswald";
    font-weight: 700;
    color: #14dbfc;
    text-align: center;
}

.mobile-game-content {
    font-size: 19px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 500;
    font-family: "albertSans";
    text-align: center;
    padding-top: 12px;
}

.game-bottom-img-section {
    position: absolute;
    bottom: -40px;
    right: -40px;
}

.game-bottom-img {
    height: 100px;
    width: 100px;
}

.right-thunder1-section {
    position: absolute;
    bottom: 0;
    right: 0;
}

.right-thunder {
    height: 300px;
    width: auto;
}

.recent-launch-section {
    /* position: relative; */
    width: 100%;
    /* height: 1100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/images/game-portfolio/recent-bg.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.left-red-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.right-green-shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.purple-point,
.green-point {
    height: 1000px;
    width: auto;
}

.shadow-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.recent-launch-title {
    font-size: 88px;
    line-height: 95px;
    color: #ffffff;
    font-family: "a25";
    text-align: center;
}

.recent-game-card {
    width: 1000px;
    border-radius: 60px;
    background-color: rgba(25, 12, 38, 0.9);
    border: 3px solid #701f71;
    margin-top: 40px;
    padding: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
    z-index: 1;
}

.recent-game-inner {
    position: relative;
    height: 364px;
}

.recent-game-img1 {
    width: 280px;
    height: 320px;
}

.recent-game-img2-section {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.recent-game-img2 {
    width: auto;
    height: 84px;
}

.recent-game-title {
    font-size: 60px;
    line-height: 78px;
    color: #21cef4;
    font-family: "a25" !important;
}

.recent-game-content {
    font-size: 27px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    font-family: "albertSans";
}

.recent-icon {
    display: flex;
    gap: 30px;
    padding-top: 30px;
}

.recent-icon-size {
    height: 60px;
    width: auto;
}

.white-img {
    height: auto;
    width: 100%;
    z-index: -1;
}

.white-img-section {
    display: flex;
}

.comprehensive-game {
    position: relative;
    background: white;
}

.game-service-img1 {
    position: absolute;
    display: flex;
}

.comprehensive-title {
    font-size: 42px;
    line-height: 46px;
    color: #1c1a32;
    font-family: "a25";
    text-align: center;
    font-weight: 700;
    line-height: 60px;
    padding-top: 80px;
}

.comprehensive-description {
    font-size: 18px;
    line-height: 28px;
    color: #1c1a32;
    font-weight: 500;
    font-family: "albertSans";
    text-align: center;
    font-weight: 500;
    padding-top: 12px;
}

.game-development-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 60%;
    align-items: center;
    margin-top: 30px;
    margin-left: 100px;
}

.game-development-row-right {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    width: 60%;
    align-items: center;
    margin-top: 30px;
    margin-right: 100px;
}

.game-square-img {
    height: 150px;
    width: auto;
}

.game-content-card {
    border-radius: 29px;
    /* max-width: 600px; */
    min-height: 150px;
    background-color: #f4edff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-card-title {
    font-size: 30px;
    line-height: 30px;
    color: #1e1c37;
    font-weight: 700;
    font-family: "oswald";
}

.game-card-text {
    font-size: 20px;
    line-height: 32px;
    color: #1c1a32;
    font-weight: 500;
    font-family: "albertSans";
    padding-top: 12px;
}

.game-right-cards {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 40px;
    padding-bottom: 80px;
}

.unique-features {
    background-image: url("/assets/images/game-portfolio/unique-features bg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 140px;
}

.feature-title {
    font-size: 42px;
    line-height: 60px;
    color: #ffffff;
    font-family: "A25";
    text-align: center;
    filter: drop-shadow(0px 17px 2.5px rgba(5, 46, 62, 0.34));
    padding-top: 100px;
}

.line-section {
    width: 800px;
    margin-top: 40px;
}

.first-line {
    width: 650px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    background-image: linear-gradient(to right, #190c26 70%, transparent);
    border-top: 3px solid #701f71;
    border-bottom: 3px solid #701f71;
    border-left: 3px solid #701f71;
    font-size: 21px;
    color: #ffffff;
    font-weight: 500;
    font-family: "albertSans";
    padding-left: 20px;
    position: relative;
}

.curve-right-line {
    margin-top: -3px;
    margin-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    background-image: linear-gradient(to left, #190c26 70%, transparent);
    border-top: 3px solid #701f71;
    border-right: 3px solid #701f71;
    border-bottom: 3px solid #701f71;
    font-size: 21px;
    color: #ffffff;
    font-weight: 500;
    font-family: "albertSans";
    text-align: end;
    padding-right: 20px;
}

.curve-left-line {
    margin-top: -3px;
    margin-right: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    background-image: linear-gradient(to right, #190c26 70%, transparent);
    border-top: 3px solid #701f71;
    border-left: 3px solid #701f71;
    border-bottom: 3px solid #701f71;
    font-size: 21px;
    color: #ffffff;
    font-weight: 500;
    font-family: "albertSans";
    text-align: start;
    padding-left: 20px;
}

.last-line {
    margin-top: -3px;
    width: 650px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    background-image: linear-gradient(to right, #190c26 70%, transparent);
    border-top: 3px solid #701f71;
    border-bottom: 3px solid #701f71;
    border-left: 3px solid #701f71;
    font-size: 21px;
    color: #ffffff;
    font-weight: 500;
    font-family: "albertSans";
    padding-left: 20px;
    position: relative;
}

.dot-circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #b494e3;
    top: -7px;
    right: -4px;
}

.bottom-dot-circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #b494e3;
    bottom: -7px;
    right: -4px;
}

.game-layer,
.game-layer-2 {
    position: relative;
    height: 1200px;
}

.game-outer-layer,
.game-outer-layer-2 {
    width: 100%;
    position: absolute;
    top: 0;
}

.man-img1 {
    height: 1200px;
    width: auto;
}

.man-img1-section {
    display: flex;
    justify-content: end;
}

.immersive-gaming-section {
    background-image: url("/assets/images/game-portfolio/Immersive Gaming Solutions.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 100px;
    padding-bottom: 250px;
    position: relative;
}

.immersive-title {
    font-size: 43px;
    line-height: 50px;
    color: #1c1b33;
    font-family: "a25";
    text-align: center;
}

.immersive-description {
    font-size: 16px;
    color: #4f4f4f;
    font-weight: 500;
    line-height: 24px;
    font-family: "albertSans";
    text-align: center;
    padding-top: 12px;
}

.immersive-game-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
}

.immersive-card-layout {
    width: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.immersive-game-card {
    position: relative;
    height: 350px;
}

.game-card-image1 {
    height: 300px;
    width: 100%;
}

.game-card-image2 {
    position: absolute;
    bottom: 0px;
    left: 40px;
    width: 100%;
}

.game-card-small-img {
    height: 100px;
    width: 100px;
}

.immersive-game-card-title {
    font-size: 24px;
    line-height: 28px;
    color: #1c1b33;
    font-family: "a25";
    padding-top: 30px;
}

.immersive-game-card-content {
    font-size: 18px;
    line-height: 28px;
    color: #4f4f4f;
    font-weight: 500;
    font-family: "albertSans";
    padding-top: 12px;
}

@media screen and (min-width: 1600px) {
    .immersive-all-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .immersive-game-row {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 80px;
        max-width: 1100px;
    }
}

.immersive-purple-section {
    position: absolute;
    bottom: 190px;
    right: 0;
}

.immersive-purple-bg {
    height: 900px;
    width: auto;
}

.purple-outer {
    position: relative;
    width: 600px;
    display: flex;
    justify-content: end;
}

.immersive-boy {
    position: absolute;
    bottom: 30px;
    right: 40px;
    height: 600px;
    width: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .immersive-boy {
        position: absolute;
        bottom: 30px;
        right: 40px;
        height: 350px !important;
        width: auto;
    }

    .immersive-purple-bg {
        height: 700px !important;
        width: auto;
    }
}

@media screen and (min-width: 1400px) and (max-width:1500px) {
    .immersive-game-row {
        padding-left: 200px !important;
        padding-right: 200px !important;
    }
}

.thunder-3 {
    height: 160px;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.choose-us-section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.choose-us-title {
    font-size: 54px;
    line-height: 63px;
    color: #ffffff;
    font-family: "a25";
    filter: drop-shadow(0px 17px 2.5px rgba(5, 46, 62, 0.34));
}

.choose-girl-img {
    height: auto;
    width: 40%;
}

.chooseus-card-outer {
    margin-top: 30px;
    padding: 3px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #701f71, transparent);
}

.chooseus-card-inner {
    padding: 20px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #190c26 80%, transparent);
}

.choose-us-left {
    width: 50%;
}


.choose-us-card-title {
    font-size: 30px;
    line-height: 30px;
    color: #14dbfc;
    font-weight: 700;
    font-family: "oswald";
}
.choose-us-card-content {
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 500;
    font-family: "albertSans";
    padding-top: 12px;
}
.video-game-art {
    background: url('/assets/images/game-portfolio/our-video-game-art-bg.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 80px;
}

.video-game-title {
    font-size: 62px;
    line-height: 80px;
    color: #ffffff;
    font-family: "a25";
    text-align: center;
}

.video-game-description {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 500;
    font-family: "albertSans";
    text-align: center;
    padding-top: 40px;
}


.video-game-section,
.UI-UX-section {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 40px;
}

.integration-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.video-img1 {
    height: 450px;
    width: 900px;
}

.video-game-card {
    position: absolute;
    z-index: 1;
    height: 450px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.video-game-boy {
    height: 450px;
    width: auto;
}

.dragon-img {
    height: 380px;
    width: auto;
}

.concept-title {
    font-size: 40px;
    line-height: 50px;
    color: #5c9bff;
    font-family: "a25";
}

.concept-description {
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 500;
    font-family: "albertSans";
    padding-top: 30px;
}

.concept-text {
    margin-left: 120px;
}

.video-game-list-outer,
.UI-UX-list-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.video-game-list-inner {
    max-width: 1000px;
}

.video-game-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    padding-bottom: 40px;
}

.video-game-inner-card {
    background-color: #190c26;
    border: 3px solid #701f71;
    border-bottom-right-radius: 40px;
    padding: 30px;
    width: 300px;
}

.video-card-title {
    font-size: 24px;
    line-height: 32px;
    color: #eb0b7c;
    font-family: "A25";
    text-align: center;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.UI-card-title {
    font-size: 24px;
    line-height: 32px;
    color: #eb0b7c;
    font-family: "A25";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-card-content {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "albertSans";
    text-align: center;
    padding-top: 30px;
}

.modeling-section {
    background: url('/assets/images/game-portfolio/3d-modeling-bg.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.vfx-section {
    background: url('/assets/images/game-portfolio/VFX-bg.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.modeling-title {
    font-size: 62px;
    line-height: 80px;
    color: #ffffff;
    font-family: "a25";
    text-align: center;
}

.modeling-text {
    margin-right: 120px;
}

.modeling-spacing {
    margin-top: 50px !important;
}

@media screen and (min-width:768px) {
    .full-width {
        width: 100% !important;
        display: flex;
        gap: 40px;
        align-items: center;
    }
}

.modeling-padding {
    padding-top: 0px !important;
}

.blockchain-integration-outer {
    background-image: url('/assets/images/game-portfolio/blockchain-bg.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-top: 50px;
}

.blockchain-integration-inner {
    max-width: 1000px;
    border-radius: 29px;
    background-color: #190c26;
    border: 3px solid #701f71;
    margin-top: 50px;
}

.integration-card {
    margin-left: -50px;
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.game-develoment-section {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-develoment-title {
    font-size: 42px;
    line-height: 46px;
    color: #1c1a32;
    font-family: "a25";
    text-align: center;
    font-weight: 700;
    line-height: 60px;
    padding-top: 80px;
}

.game-development-card-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 1000px;
    padding-top: 50px;
}

.game-development-card {
    width: 300px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-development-number {
    font-size: 158px;
    line-height: 158px;
    text-transform: uppercase;
    color: #e2cdff;
    font-weight: bold;
    font-family: "Arial";
}

.game-development-data-card {
    position: absolute;
    width: 240px;
    height: 400px;
    right: 0;
    top: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #ffffff;
    border: 3px solid #4b515b;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.game-development-data-title {
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    font-weight: 600;
    font-family: "oswald";
}

.game-development-data-content {
    font-size: 16px;
    line-height: 20px;
    color: #030508;
    font-weight: 500;
    font-family: "albertSans";
    padding-top: 10px;
}

.portfolio-faq {
    display: flex;
    justify-content: center;
}

.bg-vectors {
    align-items: flex-start;
    display: grid
}

section.apply-now {
    padding: 20px 20px 75px;
    background: #1f1e2e;
    position: relative;
    display: flex;
    justify-content: center;
}

.bg-vectors img {
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px !important;
    }
}

.game-development-service-page {
    background-color: #1C1931;
}
@media screen and (min-width:1024px) and (max-width:1050px) {
    .game-layer, .game-layer-2 {
        position: relative;
        height: 1750px !important;
    }
}
@media screen and (min-width:1051px) and (max-width:1100px) {
    .game-layer, .game-layer-2 {
        position: relative;
        height: 1700px !important;
    }
}
@media screen and (min-width:1101px) and (max-width:1200px) {
    .game-layer, .game-layer-2 {
        position: relative;
        height: 1600px !important;
    }
}
@media screen and (min-width:1201px) and (max-width:1400px) {
    .game-layer, .game-layer-2 {
        position: relative;
        height: 1500px !important;
    }
}
@media screen and (min-width:1401px) and (max-width:2300px) {
    .game-layer, .game-layer-2 {
        position: relative;
        height: 1300px !important;
    }
}
@media screen and (min-width:2301px) {
    .game-layer, .game-layer-2 {
        position: relative;
        height: 1300px !important;
    }
}