---
import Layout from "../layouts/Layout.astro";

const {} = Astro.props;
---
<!-- <link rel="stylesheet" href="/styles/css/bootstrap-rtl.css"/> -->
<!-- <link rel="stylesheet" href="/styles/css/bootstrap.css"/> -->

<Layout title="home">
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <source src="/assets/video/home_banner.mp4" type="video/mp4" />
        </video>
    </section>
    <section class="under-banner">
        <div class="container">
            <div class="under-banner-values-section slide-left">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="svs-main d-flex count-area-content pluss">
                            <div class="svs-l"><img src="/assets/images/icon3.webp" alt="icon1"></div>
                            <div class="svs-r">
                                <h6 class="text-green numbers-top">Total<br>Projects</h6>
                                <div class="count-digit numbers-bot">350</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="svs-main d-flex count-area-content pluss">
                            <div class="svs-l"><img src="/assets/images/icon1.webp" alt="icon2"></div>
                            <div class="svs-r">
                                <h6 class="text-green numbers-top">Blockchain<br>Experience</h6>
                                <div class="count-digit noplus">7</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="svs-main d-flex count-area-content pluss">
                            <div class="svs-l"><img src="/assets/images/icon4.webp" alt="icon3"></div>
                            <div class="svs-r">
                                <h6 class="text-green numbers-top">Blockchain<br>Experts</h6>
                                <div class="count-digit">250</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="svs-main d-flex count-area-content pluss">
                            <div class="svs-l"><img src="/assets/images/icon2.webp" alt="icon4"></div>
                            <div class="svs-r">
                                    <h6 class="text-green numbers-top">Global<br>Brands</h6>
                                    <div class="count-digit">120</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="under-banner-carousel-section slide-left">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-service-item owl-carousel">
                            <div class="item">
                                <div class="icon">
                                    <img src="/assets/images/icons1/aiko.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/back-stage2.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/bitcci.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/bitrpive.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/crazy-goat2.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/elysium.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/graphiclink.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/lovely-inu.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/nugen.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/redcab.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/sdc-logo.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/skilchain.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/star-walkers.png" alt="Image icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <img src="assets/images/icons1/superfarm.png" alt="Image icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <section class="aboutmeta about-main abt-1 topmeta-dev-company">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="about-ms  slide-right">
                        <h1 class="text-black top-t">Top Metaverse Development Company</h1>
                        <p class="text-gray2">Welcome to Metaprolane, the ultimate destination for Metaverse
                            development solutions. As a leading Metaverse Development Company, we specialize in
                            creating immersive and interactive virtual worlds that push the boundaries of what is
                            possible in the Metaverse. The Metaverse is a vast and growing digital universe that
                            provides limitless opportunities for innovation and creativity. At Metaprolane, we offer
                            innovative and high-quality Metaverse Development services and solutions for various
                            businesses and industry verticals. We specialize in developing cutting-edge solutions
                            that enable our clients to leverage the power of the Metaverse to drive business growth
                            and enhance user engagement. Whether you're looking to build a virtual showroom, an
                            interactive gaming experience, or a social platform, our team of expert developers and
                            designers have the skills and experience needed to turn your vision into a reality. Our
                            team also has extensive experience in creating custom avatars, 3D models, and virtual
                            reality environments, ensuring that your virtual world is tailored to your specific
                            needs.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="about-ms-r text-right slide-left">
                        <div class="about-ms-img ams2">
                            <img src="/assets/images/about2.webp" alt="About" class=" " />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
