<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/styles/css/game-portfolio.css" />
    </head>
    <body>
        <div class="">
            <div class="top-banner">
                <img
                    src="/assets/images/game-portfolio/hero_banner.webp"
                    alt=""
                />
            </div>
            <div class="premier-game">
                <div class="premier-text a25-bold">
                    Your Premier <span class="game-text">Game</span>
                    <br />
                    Development Company
                </div>
                <p class="premier-content">
                    Metaprolane is a leading game development company
                    specializing in creating immersive games across multiple
                    platforms, including mobile, web, PC, and VR. We integrate
                    blockchain technology, cryptocurrency payment systems, and
                    AI-driven mechanics, delivering innovative games that
                    captivate players and boost profitability. Let us bring your
                    gaming vision to life!
                </p>
            </div>
            <div class="game-development">
                <img
                    class="thunder-img1"
                    src="/assets/images/game-portfolio/green_thunder.webp"
                    alt=""
                />
                <div class="game-development-outer">
                    <div class="game-development-inner">
                        <div class="expert-text a25-bold">
                            Expert <span class="game-text text-large">Game</span
                            >
                            <br />
                            Development <br />
                            Services
                        </div>
                        <img
                            class="expert-img"
                            src="/assets/images/game-portfolio/expert_img.webp"
                            alt=""
                        />
                    </div>
                    <p class="expert-content">
                        As a top-tier game development company, Metaprolane
                        offers comprehensive game development services that
                        create captivating experiences tailored to your
                        audience. With over a decade of expertise across various
                        genres and platforms, we specialize in 2D and 3D games
                        for mobile (Android, iOS), web, consoles (Xbox,
                        Nintendo, PS4), and Windows/macOS using engines like
                        Unity, Unreal Engine, Cocos2d, and LibGDX. Our services
                        extend from concept ideation to post-launch support,
                        helping clients build sustainable gaming economies while
                        providing expert marketing, branding, and promotion
                        assistance. With a focus on dynamic gameplay and modern
                        trends, Metaprolane is your one-stop solution for
                        cutting-edge game development services.
                    </p>
                    <div class="btn-bg">Talk with experts</div>
                </div>
            </div>
            <div class="endtoend-bg">
                <div class="end-to-end-title">
                    End-to-End Game Development<br />
                    across Platforms
                </div>
                <div class="game-cards">
                    <div class="game-card-outer-1">
                        <div class="game-card-outer">
                            <div class="mobile-game-title">
                                Mobile Game<br />
                                Development
                            </div>
                            <div class="mobile-game-content">
                                We create interactive mobile games optimized for
                                iOS, Android, and cross-platform play. Our focus
                                on high-quality graphics, user-friendly
                                interfaces, and monetization strategies drives
                                player engagement and retention in the expanding
                                market.
                            </div>
                            <div class="game-bottom-img-section">
                                <img
                                    class="game-bottom-img"
                                    src="/assets/images/game-portfolio/mobile_game.webp"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="game-card-outer-1">
                        <div class="game-card-outer card-blue-bg">
                            <div class="mobile-game-title">
                                PC Game <br />
                                Development
                            </div>
                            <div class="mobile-game-content">
                                Our AAA-level PC games are designed for Windows
                                and macOS, delivering high-quality graphics and
                                complex gameplay. We focus on multiplayer, RTS,
                                and PvP experiences, ensuring optimized
                                performance across various hardware setups.
                            </div>
                            <div class="game-bottom-img-section">
                                <img
                                    class="game-bottom-img"
                                    src="/assets/images/game-portfolio/PC_game.webp"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-cards">
                    <div class="game-card-outer-1">
                        <div class="game-card-outer">
                            <div class="mobile-game-title">
                                Console Game <br />
                                Development
                            </div>
                            <div class="mobile-game-content">
                                We develop immersive games for consoles like
                                Xbox, PlayStation, and Nintendo. Leveraging
                                advanced technologies, our games feature
                                stunning graphics, rich storytelling, and
                                seamless gameplay optimized for each console
                                platform.
                            </div>
                            <div class="game-bottom-img-section">
                                <img
                                    class="game-bottom-img"
                                    src="/assets/images/game-portfolio/cansole.webp"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="game-card-outer-1">
                        <div class="game-card-outer">
                            <div class="mobile-game-title">
                                Metaverse Game<br /> Development
                            </div>
                            <div class="mobile-game-content">
                                Metaprolane crafts immersive VR worlds using
                                advanced graphics and motion tracking. Our
                                engaging narratives and innovative gameplay
                                redefine player experiences, accessible across
                                various VR hardware for a wide audience.
                            </div>
                            <div class="game-bottom-img-section">
                                <img
                                    class="game-bottom-img"
                                    src="/assets/images/game-portfolio/PC_game.webp"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-thunder1-section">
                    <img
                        class="right-thunder"
                        src="/assets/images/game-portfolio/green_thunder_001.webp"
                        alt=""
                    />
                </div>
            </div>
            <div class="recent-launch-section">
                <div class="">
                    <div class="left-red-shadow">
                        <div class="shadow-section">
                            <img
                                class="purple-point"
                                src="/assets/images/game-portfolio/purple-point-light.png"
                                alt=""
                            />
                            <img
                                class="green-point"
                                src="/assets/images/game-portfolio/our-recent-green.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
                <div class="recent-launch-section">
                    <div class="recent-launch-title">our recent LAUNCHES</div>
                    <div class="recent-game-card">
                        <div class="recent-game-inner">
                            <img
                                class="recent-game-img1"
                                src="/assets/images/game-portfolio/money_recent.webp"
                                alt=""
                            />
                            <div class="recent-game-img2-section">
                                <img
                                    class="recent-game-img2"
                                    src="/assets/images/game-portfolio/money-master-circle_1.webp"
                                />
                            </div>
                        </div>
                        <div class="">
                            <div class="recent-game-title">
                                Money Master<br />
                                Adventure
                            </div>
                            <div class="recent-game-content">
                                From childhood moments reimagined into games for
                                everyone, to ideas that take you into a world of
                                entertainment where fun is in everything! That’s
                                Madbox and that’s our ambition when we create
                                for you.
                            </div>
                            <div class="recent-icon">
                                <img
                                    class="recent-icon-size"
                                    src="/assets/images/game-portfolio/playstore_1.webp"
                                    alt=""
                                />
                                <img
                                    class="recent-icon-size"
                                    src="/assets/images/game-portfolio/app-store_1.webp"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="recent-game-card">
                        <div class="recent-game-inner">
                            <img
                                class="recent-game-img1"
                                src="/assets/images/game-portfolio/cub_academy_recent.webp"
                                alt=""
                            />
                            <div class="recent-game-img2-section">
                                <img
                                    class="recent-game-img2"
                                    src="/assets/images/game-portfolio/cub_recent.webp"
                                />
                            </div>
                        </div>
                        <div class="">
                            <div class="recent-game-title">Cub Academy</div>
                            <div class="recent-game-content">
                                From childhood moments reimagined into games for
                                everyone, to ideas that take you into a world of
                                entertainment where fun is in everything! That’s
                                Madbox and that’s our ambition when we create
                                for you.
                            </div>
                            <div class="medium-btn-bg">Play Now</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comprehensive-game">
                <div class="game-service">
                    <img
                        class="white-img"
                        src="/assets/images/game-portfolio/white.webp"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </body>
</html>
