<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/css/gamedevelopmentservices.css" />
    </head>
    <body>
        <section>
            <!-- hero banner section -->
            <div class="hero-banner-master-container">
                <div class="hero-banner-image-container">
                    <img src="/assets/images/game-development-services/hero_bg.webp" alt="" />
                </div>
                <div class="hero-banner">
                    <div class="hero-banner-text-container">
                        <h1 class="anton-sc-regular">game development services</h1>
                        <p class="poppins-regular">Metaprolane is a leading game development company specializing in creating immersive games across platforms, 
                        including mobile, web, PC, & VR. We integrate blockchain technology, cryptocurrency payment systems, & AI-driven mechanics, delivering innovative games that captivate players </p>
                        <button class="hero-banner-btn poppins-bold">
                            request a quote
                            <img src="/assets/images/game-development-services/arrow_black.webp" alt="" class="" style="height:1rem; width:auto; margin-left:0.5rem;">
                        </button>
    
                        <div class="banner-projects-overview-container">
                            <div class="projects-overview" style="border-right: 2px solid #FFFFFF; padding-right: 2rem">
                                <h1 class="anton-sc-regular">50 + </h1>
                                <p class="poppins-regular">completed projects</p>
                            </div>
                            <div class="projects-overview" style="padding-left: 2rem;">
                                <h1 class="anton-sc-regular">2 + M</h1>
                                <p class="poppins-regular">users</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </body>
</html>