<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/styles/css/game-portfolio.css" />
    </head>
    <body>
        <div class="">
            <div class="top-banner">
                <img
                    src="/assets/images/game-portfolio/hero_banner.webp"
                    alt=""
                />
            </div>
            <div class="premier-game">
                <div class="premier-text a25-bold">
                    Your Premier <span class="game-text">Game</span>
                    <br />
                    Development Company
                </div>
                <p class="premier-content">
                    Metaprolane is a leading game development company
                    specializing in creating immersive games across multiple
                    platforms, including mobile, web, PC, and VR. We integrate
                    blockchain technology, cryptocurrency payment systems, and
                    AI-driven mechanics, delivering innovative games that
                    captivate players and boost profitability. Let us bring your
                    gaming vision to life!
                </p>
            </div>
            <div class="game-development">
                <img
                    class="thunder-img1"
                    src="/assets/images/game-portfolio/green_thunder.webp"
                    alt=""
                />
                <div class="game-development-outer">
                    <div class="game-development-inner">
                        <div class="expert-text a25-bold">
                            Expert <span class="game-text text-large">Game</span
                            >
                            <br />
                            Development <br />
                            Services
                        </div>
                        <img
                            class="expert-img"
                            src="/assets/images/game-portfolio/expert_img.webp"
                            alt=""
                        />
                    </div>
                    <p class="expert-content">
                        As a top-tier game development company, Metaprolane
                        offers comprehensive game development services that
                        create captivating experiences tailored to your
                        audience. With over a decade of expertise across various
                        genres and platforms, we specialize in 2D and 3D games
                        for mobile (Android, iOS), web, consoles (Xbox,
                        Nintendo, PS4), and Windows/macOS using engines like
                        Unity, Unreal Engine, Cocos2d, and LibGDX. Our services
                        extend from concept ideation to post-launch support,
                        helping clients build sustainable gaming economies while
                        providing expert marketing, branding, and promotion
                        assistance. With a focus on dynamic gameplay and modern
                        trends, Metaprolane is your one-stop solution for
                        cutting-edge game development services.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
