---
import Layout from "../layouts/Layout.astro";
---

<Layout title="" description="">
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <title>Document</title>
            <link
                rel="stylesheet"
                href="/styles/css/game-development-service.css"
            />
            <link
                href="/vendor/bootstrap/css/bootstrap.min.css"
                rel="stylesheet"
            />
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link
                rel="preconnect"
                href="https://fonts.gstatic.com"
                crossorigin
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
                rel="stylesheet"
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
                rel="stylesheet"
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
                rel="stylesheet"
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
                rel="stylesheet"
            />
            <!-- <link rel="stylesheet" href="/styles/blog/css/style.css" /> -->
        </head>
        <body>
            <script is:inline>
                $(document).ready(function () {
                    $(".question1").click(function () {
                        console.log("clicked questions");
                        var answer = $(this).next(".answer");
                        $(".answer").not(answer).slideUp();
                        answer.slideToggle();
                    });
                });
                // $("#content").hide().show("slide", { direction: "left" }, 1500);
            </script>

            <div class="game-development-service-page">
                
<!-- 
                <img
                    class="scroll-top-btn"
                    src="/assets/images/game-portfolio/top-arrow.webp"
                    id="scrollTopBtn"
                /> -->
            </div>
            <!-- <script is:inline>
                function toggleAnswer(event) {
                    const question = event.currentTarget;
                    const answer = question.nextElementSibling;

                    $(answer).slideToggle();
                    $(question).toggleClass("active");
                    $(".faq-question")
                        .not(question)
                        .removeClass("active")
                        .next(".faq-answer")
                        .slideUp();

                    // Toggle the icon between plus and minus
                    const icon = question.querySelector(".faq-toggle-icon");
                    icon.textContent = icon.textContent === "+" ? "-" : "+";
                }
            </script>
            <script is:inline>
                const scrollTopBtn = document.getElementById("scrollTopBtn");
                const topSection = document.getElementById("top-section");
                const observer = new IntersectionObserver(
                    (entries) => {
                        entries.forEach((entry) => {
                            if (entry.isIntersecting) {
                                console.log(scrollTopBtn, "check top banner");
                                scrollTopBtn.style.display = "none";
                            } else {
                                console.log(false, "check outer top banner");
                                scrollTopBtn.style.display = "block";
                            }
                        });
                    },
                    { threshold: 0.1 },
                );
                observer.observe(topSection);
                scrollTopBtn.onclick = () => {
                    topSection.scrollIntoView({
                        behavior: "smooth",
                    });
                };
            </script> -->
        </body>
    </html>
</Layout>
