---
const {title} = Astro.props
---

<footer>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="footer-logo text-left pb-4  slide-left">
                        <a href="index.php"><img src="assets/images/logo3.webp" alt="Footer Logo"></a>
                        <br><a href="//www.dmca.com/Protection/Status.aspx?ID=cc6dc30a-4bfb-4e22-94f0-e19c281ba70a"
                            title="DMCA.com Protection Status" class="dmca-badge"> <img
                                src="https://images.dmca.com/Badges/dmca_protected_sml_120aj.png?ID=cc6dc30a-4bfb-4e22-94f0-e19c281ba70a"
                                alt="DMCA.com Protection Status" /></a>

                    </div>
                </div>
                <!-- <div class="col-lg-4">
                    <div class="footer-links">
                        <p class="footer-heading">Address</p>
                        <p>US OFFICE<br>
                            1731 SW, 2nd Avenue,<br>
                            Ocala, FL 34471, United States<br>
                            <a href="mailto:info@metaprolane.com" class="main-info">Email: info@metaprolane.com</a>
                            Phone: +1(203)4911927
                        </p>

                    </div>
                </div> -->
                <div class="col-lg-4">
                    <div class="footer-links  slide-right">
                        <p class="footer-heading">Follow Us</p>
                        <ul class="d-flex social-link">
                            <li><a href="https://www.facebook.com/metaprolane/" target="_blank">
                                <!-- <i
                                        class="icon fa fa-facebook"></i> -->
                                        <img class="social-icons" src="/assets/images/icons1/facebook.png"/>
                                    </a></li>
                            <li><a href="https://twitter.com/metaprolane/" target="_blank">
                                <img class="social-icons" src="/assets/images/icons1/Twitter.png"/>
                                <!-- <i
                                        class="icon fa fa-twitter"></i> -->
                                    </a></li>
                            <li><a href=" https://www.instagram.com/metaprolane/" target="_blank">
                                <img class="social-icons" src="/assets/images/icons1/instagram.png"/>
                                <!-- <i
                                        class="icon fa fa-instagram"></i> -->
                                    </a></li>
                            <li><a href="https://www.linkedin.com/company/metaprolane/" target="_blank">
                                <img class="social-icons" src="/assets/images/icons1/linkedin.png"/>
                                <!-- <i
                                        class="icon fa fa-linkedin"></i> -->
                                    </a></li>
                            <li><a href="https://www.youtube.com/channel/UCxEl6bqgaLeLgIoGA3RlRlA" target="_blank">
                                <img class="social-icons" src="/assets/images/icons1/youtube.png"/>
                                <!-- <i
                                        class="icon fa fa-youtube"></i> -->
                                    </a></li>
                            <li><a href="https://t.me/Balaji_A" target="_blank">
                                <img class="social-icons" src="/assets/images/icons1/telegram.png"/>
                                <!-- <svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z" />
                                    </svg> -->
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright  slide-left">
            <p>All rights and reserved &copy;<?php echo date("Y");?> <span class="text-green">METAPROLANE</span></p>
        </div>
    </section>
    <script type="text/javascript">
        var $animation_elements = $(".animation-element");
        var $window = $(window);
  
        function check_if_in_view() {
          var window_height = $window.height();
          var window_top_position = $window.scrollTop();
          var window_bottom_position = window_top_position + window_height;
  
          $.each($animation_elements, function () {
            var $element = $(this);
            var element_height = $element.outerHeight();
            var element_top_position = $element.offset().top;
            var element_bottom_position = element_top_position + element_height;
  
            //check to see if this current container is within viewport
            if (
              element_bottom_position >= window_top_position &&
              element_top_position <= window_bottom_position
            ) {
              $element.addClass("in-view");
            }
            // else {
            //   $element.removeClass('in-view');
            // }
          });
        }
  
        $window.on("scroll resize", check_if_in_view);
        $window.trigger("scroll", check_if_in_view);
      </script>
</footer>