---
interface props {}
const {title} = Astro.props;
---

<header class="header-area header-sticky">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="https://metaprolane.stsdev.site/" class="logo">
                        <img src="assets/images/logo3.webp" alt="Logo" />
                    </a>
                    <ul class="nav align-self-center"></ul>
                    <ul class="nav align-self-right" id="myDIV">
                        <li>
                            <a
                                href="https://metaprolane.stsdev.site/#top"
                                class=""
                                >Home</a
                            >
                        </li>
                        
                        <li class="has-sub">
                            <a href="" >Metaverse Development <i class="icon fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-virtual-office"
                                        >Metaverse Virtual Office</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-auditorium"
                                        >Metaverse Auditorium</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-virtual-city"
                                        >Metaverse Virtual City</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-shopping-mall"
                                        >Metaverse Shopping Mall</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-casino-game"
                                        >Metaverse Casino Game</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-development-company"
                                        >Metaverse Development Company</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-game-development-services"
                                        >Metaverse Game Development Services</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-for-industries"
                                        >Metaverse for Industries</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-virtual-showroom"
                                        >Metaverse Virtual Showroom</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-real-estate-solutions"
                                        >Metaverse Real Estate Solutions</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://metaprolane.stsdev.site/metaverse-jewelry-shopping"
                                        >Metaverse jewelry shopping</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a
                                href="https://metaprolane.stsdev.site/#industries"
                                class="industries_scroller">Industries</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://metaprolane.stsdev.site/#contact"
                                class="contact_scroller">Contact Us</a
                            >
                        </li>
                        <li>
                            <a href="https://metaprolane.stsdev.site/blog"
                                >Privacy Policy</a
                            >
                        </li>
                        <li>
                            <a href="https://metaprolane.stsdev.site/blog"
                                >Blog</a
                            >
                        </li>
                        <li>
                            <a href="https://metaprolane.stsdev.site/#contact">
                                <button class="btn padd-0">
                                    <div
                                        class="btn-box border-gradient menu-demo-link"
                                    >
                                        Demo
                                    </div>
                                </button>
                            </a>
                        </li>
                    </ul>
                    <a class="menu-trigger" onclick="myFunction()">
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
