---

---
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/blog/css/owl.css" />
        <link rel="stylesheet" href="/styles/css/retailShowroom.css" />
        <!-- <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        ></script> -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!-- <link rel="stylesheet" href="/styles/css/style.css" /> -->
        <!-- <script
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script> -->
    </head> 
    
    <body>
    <div id="master-container">
        
        <div class="mt-2">
            <button id="video-toggle-btn" class="btn padd-0">
                <div class="btn-box btn-pink">Show Demo Video</div>
                
            </button>
        </div>
        </div>

        <script>
            const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    query: `
                        query{
                        metaverseCasinoGame{
                                data {
                                    attributes{
                                        casino_game_dev_link
                                    }
                                }
                            }
                        }
                        `,
                }),
            });

            const { data } = await response.json();
            const casinoGameDevLink = data.metaverseCasinoGame.data.attributes.casino_game_dev_link;
            const embedLink = casinoGameDevLink.replace("watch?v=", "embed/");
          
            document.getElementById("video-toggle-btn")?.addEventListener("click", function(){

               
                    const videoContainer = document.createElement('div');
                    videoContainer.innerHTML = `
                        <iframe
                            title="Metaprolane Video"
                            src="${embedLink}"
                            class="casino-video"
                            style=" width: 100%; aspect-ratio: 16/9;"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                    `;

                document.getElementById('master-container')?.prepend(videoContainer);
                document.getElementById('video-toggle-btn')?.remove();

            })

           
        </script>

    </body>
</html>